.container{
    margin: 0 auto;
    width: 100%;
}

@media (min-width:960px){
    .container{
        width: 960px;
    }
}

body{
    font-family: sans-serif;
    background: url("img/t.jpg");
    color:white;
}

.container > *{
    background-color: rgba(0,0,0, 0.7);
    padding: 30px;
}
header{
    display: flex;
    align-items: center;
}
header ul {
    display: flex;
}
header ul li{
    list-style: none;
    margin-right: 10px;
}
section{
    display: flex;
    flex-wrap: wrap; /* forcer le retour à la ligne  */
    
}
section > *{
    width:100%;
}
@media (min-width:650px){
    section{
        flex-wrap: nowrap; /* forcer le non retour à la ligne  */
        justify-content: space-between;
    }
    section > *{
        width:48%;
    }
}
form label{
    display: block;
}
form input[type="email"], textarea{
    display: inline-block;
    width: 100%;
}

/* règle css pour le javascript */

img.diaporama{
    margin-top: 10px;
    width: calc(100% - 60px);
}

ul{
    margin: 0;
}

.masquer{
    display: none;
}